* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* html::-webkit-scrollbar {
    background-color: blue;
}
html::-webkit-scrollbar-thumb {
   background-color: #fff;
   width: 100%;
   height: 5px;
}

.rings-loading {
   display: flex;
   justify-content: center;
   align-items: center;
} */
